{% extends "base.html" %}
{% block title %}My Snippets{% endblock %}
{% block content %}
    <h1 class="my-3">My Snippets</h1>
    <div class="row">
        {% for snippet in snippets %}
            <div class="col-md-4">
                <div class="card snippet-card mb-3">
                    <div class="card-header">
                        {{ snippet.name }} <a href="{% url 'user_snippets' username=request.user.username %}" class="float-right"><small>{{ request.user.username }}</small></a>
                    </div>
                    <div class="card-body">
                        {% if '://' in snippet.language.slug %}
                            {% with snippet.language.slug|slice:"-1" as language_slug %}
                                <a href="{% url 'snippets_by_language' language=language_slug %}"><h5 class="card-title">{{ snippet.language.name }}</h5></a>
                            {% endwith %}
                        {% else %}
                            <a href="{% url 'snippets_by_language' language=snippet.language.slug %}"><h5 class="card-title">{{ snippet.language.name }}</h5></a>
                        {% endif %}
                        <h6 class="card-subtitle mb-2 text-muted">Creado: {{ snippet.created|date:"d \\d\\e F \\d\\e Y" }} a las {{ snippet.created|time:"H:i" }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Actualizado: {{ snippet.updated|date:"d \\d\\e F \\d\\e Y" }} a las {{ snippet.updated|time:"H:i" }}</h6>
                        <p class="card-text">{{ snippet.description }}</p>
                        <hr>
                        <a href="{% url 'snippet_detail' id=snippet.id %}" class="btn btn-primary">View Details</a>
                        {% if request.user.username == snippet.user.username %}
                            <a href="{% url 'snippet_edit' pk=snippet.id %}" class="btn btn-info">Edit</a>
                            <a href="{% url 'snippet_delete' pk=snippet.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}